@use '../config/' as *;

.instagram {
    position: relative;
    padding: 20px 0 197px;
    background-color: #D4EEFF;
    &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: max(47px, 3.7vw);
        background: url(../img/footer-wave.png) no-repeat center center / cover;
    }
}

.instagram-text {
    margin-top: 20px;
    line-height: 23px;
    text-align: center
}

.instagram-list {
    display: grid;
    grid-template-columns: 230px 230px 230px;
    grid-template-rows: 230px 230px 230px;
    gap: 15px;
    justify-content: center;
    margin-top: 40px;
}

.instagram-item {
    overflow: hidden;

    img {
        transition: all .3s;
        &:hover {
            transform: scale(1.2)
        }
    }
}

.instagram-btn {
    @include btn();
}