@use '../config/' as *;

.header {
    position: absolute;
    width: 100%;
    color: $white-clr;
    @include z-index(header);
}

.header-inner {
    display: flex;
    align-items: center;
    height: 100px;
    max-width: 1150px;
}

.header-logo {
    padding-top: 20px;
}

nav {
    margin-left: auto;
}

.header-nav {
    display: flex;
    align-items: flex-end;
}

.header-nav-item {

    &:not(first-child) {
        margin-left: 30px;
    }
    
    figure {
        width: 25px;
        margin: 0 auto;
    }

    span {
        display: block;
        margin-top: 5px;
        color: $white-clr;
        letter-spacing: 0.02em;
    }
}